
.counter{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60vw;
}
.counter .btn{
    width: 3vw;
    border-radius: 5px;
    border: solid 1px;
    height: 3rem;
    margin-bottom: 1rem;
    box-shadow: 2px 2px 2px grey;
}
span{
    width: 3rem;
    margin-bottom: 1rem;
    text-align: center;
}

.addCart{
    border-radius: 5px;
    border: solid 1px;
    width: 220px;
    height: 3rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    box-shadow: 2px 2px 2px grey;
}