*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card1{
    height: 35vh;
}
.textoCard img{
    height: 35vh;
}
.card1 .pPortada {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1rem; }
  
.card1 .h2Portada,.figure .text-muted1 {
    font-family: 'Smooch', cursive;
    font-size: 2.5rem;
    text-shadow: 4px 4px 5px rgba(12, 12, 12, 0.84); }
  
.mainIndex hr, main hr {
    color: #ffe4c4;
    width: 83vw;
    margin: 0 7.5vw; }

