.navBar{
  
  position: absolute;
}
.videoIndex{
  width: 99vw;
  z-index: -1;
  position: relative;
  margin-top: -15vh;
}
.App-nav {
    display: flex;
    flex-direction: row;
    width: 99vw;
    font-family: 'Lexend Tera';
    color: #5b5c5e;
    z-index: 2;
    align-items: flex-start;
  }
  .parrafo {
    font-size: 25px ;
    font-family: 'Lexend Tera';
    margin: 0 20px 0 0 ;
  }
  .App-items {
    height: 10vh;
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    margin: 0 5px 0 5ps;
    padding-top: 5px;
    list-style: none;
    align-items: center;
  }
  .link{
    cursor: pointer;
    text-decoration: none;
    color: rgb(48, 47, 47);
  }